@inherits LayoutComponentBase

@inject NavigationManager navigationManager
@using Microsoft.AspNetCore.Identity
@using MediaCalender.Shared.Users
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <LoginDisplay />    @*Shows the login page*@    
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
