

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">MedCal</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        @if (Program.Classes.LoginStatus)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Calender">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> CalenderView
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Followed-Media">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Followed-Media
                </NavLink>
            </li>
        }
        else
        {
            @*<li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>*@
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="loginPage">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> LoginPage
                </NavLink>
            </li>

            @*<li class="nav-item px-3">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </li>*@
        }

    </ul>
</div>

@code {
    bool collapseNavMenu = true;
    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    RefreshNavbar refreshNavbar;


    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }



    protected override void OnInitialized()
    {
        refreshNavbar = new RefreshNavbar();
        refreshNavbar.RefreshRequested += RefreshMe;
    }

    private void RefreshMe()
    {
        StateHasChanged();
    }

    //RefreshNavbar foo = new RefreshNavbar();
    //foo.

}
