@page "/LoginPage"
@using MediaCalender.Shared.Containers
@inject HttpClient Http
@inject NavigationManager navigationManager

<h1>Welcome to MedCal!</h1>

<p>Please login below:</p>

<div tabindex="0">
    Username: <input type="text" id="username" name="username" @bind="uname" /><br>
</div>
<div tabindex="1">
    Password: <input type="text" style="margin-left:4px" id="password" name="password" @bind="pword" /><br>
</div>

<button class="btn btn-primary" @onclick="Login">Login</button>
<p>@loginResultString</p>


@code {
    string uname, pword;
    string loginResultString;


    public async Task Login()
    {
        bool loginSuccessfulness;
        // Sends login credentials and recieves answar upon if it was succesful
        LoginCredentials loginCredentials = new LoginCredentials(uname, pword);
        loginSuccessfulness = await Http.PostJsonAsync<bool>("Login/PostLogin", loginCredentials);

        // Process depending on result
        if (loginSuccessfulness)
        {
            //refreshNavbar.CallRequestRefresh();
            navigationManager.NavigateTo("Calender");   // Navigates to Calender view
        }
        else
            loginResultString = "Login denied";

    }
}
